<h2>RUBBoS client emulator - (C) Rice University/INRIA 2001</h2><p>

<h3>Test date: 2015-7-20 18:2:13</h3><br>

<A HREF="#config">Test configuration</A><br>
<A HREF="trace_client0.html">Test trace</A><br>
<A HREF="perf.html">Test performance report</A><br><p>
<p><hr><p>
<CENTER><A NAME="config"></A><h2>*** Test configuration ***</h2></CENTER>
Looking for rubbos.properties in classpath (.:Client/rubbos_client.jar)<p>
No rubbos.properties file has been found in your classpath.<p>
